.map-menu__list {
    display: flex;
    justify-content: space-between;
}

.map-menu__link {
    display: block;
    padding-top: 18px;
    padding-bottom: 18px;
    
    @include font-param(10px, 12px, normal);
    color: #505050;

    &:hover {
        color: #FF781C;
    }
}

.map-menu__item {
    position: relative;
}

.map-menu__item--events::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "28";
    width: 15px;
    height: 15px;
    top: 10px;
    right: -10px;
    background: linear-gradient(0deg, #2459E2, #2459E2), #2E61E5;
    color: #ffffff;
    border-radius: 50%;
    @include font-param(8px, 10px, normal);
}