@font-face {
    font-family: "SF compact";
    src: url("../fonts/SF-Compact-Display-Heavy.otf") format("otf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "SF compact";
    src: url("../fonts/SF-Compact-Display-Regular.otf") format("otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/SF-Compact-Display-Semibold.otf") format("otf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background-color: #000000;
    font-family: 'SF compact', sans-serif;
}

.page-main {
    background-color: #000000;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.wrapper {
    min-width: 260px;
    width: 85%;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

