* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background-color: #000000;
}

.page-main {
    background-color: #000000;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.wrapper {
    min-width: 260px;
    width: 85%;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

